[mgr]
ratio = [0, 1, 0]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
linemode = "size"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"
