[mgr]
ratio = [0, 1, 2]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
linemode = "none"

[preview]
wrap = "yes"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"
